
$primary-color: #f22613;
$secondary-color: #444;
$tertiary-color: #fff;
$logo-color:#FF6600;

@mixin easeOut{
    transition: all 0.4s ease-out;
}

// Media Query mixins for Responsive screen

@mixin mediaSm{
    @media screen and (min-width: 320px) and (max-width: 500px ){
        @content;
    }
}

@mixin mediaMd{
    @media screen and (min-width: 501px) and (max-width: 768px ){
        @content;
    }
}

@mixin mediaLg{
    @media screen and (min-width: 769px) and (max-width: 1170px){
        @content;
    }
}

@mixin mediaXl{
    @media screen and (min-width: 1171px){
        @content;
    }
}