.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  /* -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;*/
  transition: all 0.4s ease-out;
  cursor: pointer; }
  .menu-btn .btn-line {
    width: 30px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    /*-webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;*/
    transition: all 0.4s ease-out; }
  .menu-btn.close {
    /*-webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;*/
    transition: all 0.4s ease-out;
    /*  -webkit-transition-delay: 0.6s;
      -o-transition-delay: 0.6s;*/
    transition-delay: 0.4s;
    /*  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);*/
    transform: rotate(45deg); }
    .menu-btn.close .btn-line:nth-child(2) {
      width: 0px; }
    .menu-btn.close .btn-line:nth-child(1), .menu-btn.close .btn-line:nth-child(3) {
      /*  -webkit-transition-delay: 0.3s;
          -o-transition-delay: 0.3s;*/
      transition-delay: 0.2s; }
    .menu-btn.close .btn-line:nth-child(1) {
      /* -webkit-transform: translateY(10px);
          -ms-transform: translateY(10px);
          -o-transform: translateY(10px);*/
      transform: translateY(10px); }
    .menu-btn.close .btn-line:nth-child(3) {
      /* -webkit-transform: translateY(-7px) rotate(90deg);
          -ms-transform: translateY(-7px) rotate(90deg);
          -o-transform: translateY(-7px) rotate(90deg);*/
      transform: translateY(-7px) rotate(90deg); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #df1e0c;
    list-style: none;
    transform: translate3d(100%, 0, 0);
    transition: all 0.4s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #FF6600;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.4s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .potrait {
      width: 225px;
      height: 225px;
      background: url(../image/potrait1.jpg);
      justify-content: center;
      border-radius: 50%;
      border: solid 3px #fff; }
  .menu .nav-item {
    transform: translate3d(0, -600px, 0);
    transition: all 0.4s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #FF7F2A; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    transition: all 0.4s ease-out; }
    .menu .nav-link:hover {
      color: #FF7F2A; }

.nav-item:nth-child(1) {
  transition-delay: 0.51s; }

.nav-item:nth-child(2) {
  transition-delay: 0.42s; }

.nav-item:nth-child(3) {
  transition-delay: 0.33s; }

.nav-item:nth-child(4) {
  transition-delay: 0.24s; }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  main {
    overflow: hidden;
    padding-top: 1rem;
    align-items: center;
    line-height: 1.5;
    text-align: center;
    position: relative;
    bottom: 8rem; }
  .heading {
    display: block; }
  .heading img {
    width: 600px;
    height: 400px;
    position: relative;
    margin-left: 9rem;
    padding: 2rem;
    top: 3rem; }
  h1,
  h2,
  h3 {
    margin: 0; }
    h1.lg-heading,
    h2.lg-heading,
    h3.lg-heading {
      font-size: 6rem !important;
      font-family: 'Lobster', cursive;
      position: relative;
      padding-left: 1rem; }
    h1.sm-heading,
    h2.sm-heading,
    h3.sm-heading {
      font-family: 'Lobster', cursive;
      margin-bottom: 2rem;
      padding: 0.5rem 0.7rem;
      position: relative;
      margin-left: 1rem;
      right: 20px; } }

@media screen and (min-width: 501px) and (max-width: 768px) {
  main {
    overflow: hidden;
    padding-top: 1rem;
    align-items: center;
    line-height: 1.5;
    text-align: center;
    position: relative;
    bottom: 5rem; }
  .heading {
    padding: 10px;
    align-items: center;
    text-align: center; }
  .heading img {
    width: 500px;
    height: 300px;
    position: relative;
    margin-left: 3.5rem;
    top: 30px; }
  h1,
  h2,
  h3 {
    margin: 0; }
    h1.lg-heading,
    h2.lg-heading,
    h3.lg-heading {
      font-size: 1rem;
      font-family: 'Lobster', cursive;
      position: relative;
      margin-left: 3rem; }
    h1.sm-heading,
    h2.sm-heading,
    h3.sm-heading {
      font-family: 'Lobster', cursive;
      margin-bottom: 2rem;
      padding: 0.5rem 0.7rem;
      position: relative;
      margin-left: 1rem;
      right: 20px; }
  ul.menu-nav,
  div.mneu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.mneu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 70vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    width: 100%;
    height: 30vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .potrait {
      background: url(../image/potrait2.jpg);
      width: 150px;
      height: 150px;
      justify-content: center; } }

@media screen and (min-width: 320px) and (max-width: 500px) {
  main {
    padding-top: 0.5rem;
    align-items: center;
    line-height: 1.5;
    text-align: center;
    position: relative;
    bottom: 8rem;
    overflow: hidden; }
    main .icons {
      font-size: 12px;
      margin-top: 1rem;
      position: relative;
      right: 20px;
      bottom: 1.5rem;
      padding-left: 3rem; }
    main a {
      padding: 0.4rem; }
  .heading {
    padding: 10px;
    align-items: center;
    text-align: center;
    position: relative; }
  .heading img {
    width: 400px;
    height: 220px;
    position: relative;
    top: 3rem;
    padding-right: 8rem; }
  h1,
  h2,
  h3 {
    margin: 0; }
    h1.lg-heading,
    h2.lg-heading,
    h3.lg-heading {
      font-size: 2.5rem !important;
      font-family: 'Lobster', cursive;
      padding-left: 5rem; }
    h1.sm-heading,
    h2.sm-heading,
    h3.sm-heading {
      font-size: 1.2rem !important;
      font-family: 'Lobster', cursive;
      margin-left: 3rem; }
  ul.menu-nav,
  div.mneu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.mneu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 70vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    width: 100%;
    height: 30vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .potrait {
      background: url(../image/potrait2.jpg);
      width: 150px;
      height: 150px;
      justify-content: center; }
  .menu .nav-link {
    font-size: 20px !important; } }

* {
  box-sizing: border-box; }

body {
  background: #f22613;
  color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23f97f51' stroke-width='54.5' stroke-opacity='0.33' %3E%3Ccircle fill='%23f22613' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f32e16' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f43518' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23f53d1b' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23f6451e' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23f64c20' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23f75423' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23f85b26' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23f96229' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23fa692c' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23fa702e' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23fb7731' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23fc7e34' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23fd8537' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23fd8c3a' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23fe923d' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23fe9940' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23ff9f43' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E") !important;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5; }

.heading {
  padding-top: 4rem; }

.heading img {
  float: left;
  position: relative;
  bottom: 20px;
  left: 20px; }

.heading h1 {
  position: relative;
  top: 10px;
  bottom: 20px;
  right: 40px;
  padding-top: 1rem; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem;
    font-family: 'Lobster', cursive; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    font-family: 'Lobster', cursive;
    margin-bottom: 2rem;
    padding: 0.5rem 0.7rem;
    position: relative;
    right: 20px; }

a {
  text-decoration: none;
  color: #fff; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

/*.text-secondary{
   color:$secondary-color; 
}*/
main {
  padding: 5rem 2rem;
  height: 100%; }
  main .icons {
    margin-top: 1rem;
    position: relative;
    right: 20px; }
  main a {
    padding: 0.4rem; }
    main a:hover {
      color: #444;
      transition: color 1.5s ease-out; }
